html, body, #root, #root>div {
  height: 100%; width: 100%; margin: 0;
}


.center_text {
  color: white;
  position: relative;
  /* Beware, this only gets the TL corner to the center: */
  top: 50%;
  left: 50%;
  /* Shift text into proper position with transform: */
  /* (spans are inline. transform only works with
     block-level displays) */
  display: inline-block;
  transform: translate(-50%, -50%);
}

.fill_own_group {
  width: 100%;
  height: 100%;
}


#d1 {
  background-color: #2C88D9;
}

#d2 {
  background-color: #D3455B;
}

#d3 {
  background-color: #897A5F;
}

#d4 {
  background-color: #AC6363;
}

#d5 {
  background-color: #730FC3;
}

#d6 {
  background-color: #1AAE9F;
}

#d7 {
  background-color: #207868;
}

#d8 {
  background-color: #6558F5;
}

#d9 {
  background-color: #4B5C6B;
}


/* ===== DESKTOP VIEW ===== */
@media screen and (min-width: 601px) {
  #group1 {
    width: 50%;
    height: 50%;
    float: left;
  }

  #group2 {
    width: 50%;
    height: 50%;
    float: left;
  }
  #d2 {
    height: 50%;
  }
  #d3 {
    width: 50%;
    height: 50%;
    float: left;
  }
  #d4 {
    width: 50%;
    height: 50%;
    float: left;
  }

  #group3 {
    width: 30%;
    height: 50%;
    float: left;
  }
  #d5 {
    height: 50%;
  }

  #d6 {
    height: 50%;
  }

  #group4 {
    width: 50%;
    height: 50%;
    float: left;
  }
  #d7 {
    width: 100%;
    height: 100%;
  }

  #group5 {
    width: 20%;
    height: 50%;
    float: left;
  }
  #d8 {
    height: 50%;
  }
  #d9 {
    height: 50%;
  }
}


/* ===== MOBILE VIEW ===== */
@media screen and (max-width: 600px) {
  #group1 {
    height: 20%;
  }

  #group2 {
    height: 35%;
    width: 100%;
  }
  #d2 {
    width: 100%;
    height: 50%;
    display: inline-block;
  }
  #d3 {
    width: 50%;
    height: 50%;
    display: inline-block;
  }
  #d4 {
    width: 50%;
    height: 50%;
    display: inline-block;
  }

  #group3 {
    height: 30%;
    width: 50%;
    display: inline-block;
  }
  #d5 {
    height: 50%;
  }
  #d6 {
    height: 50%;
  }

  #group4 {
    height: 15%;
  }

  #group5 {
    height: 30%;
    width: 50%;
    display: inline-block;
  }
  #d8 {
    height: 50%;
  }
  #d9 {
    height: 50%;
  }
}
